* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
nav {
    background-color: #B3252F;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
    height: 5vh;
    padding: 2%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
nav ul {
    text-align: right;
}
nav ul li {
    display: inline;
    font-size: 16px;
    margin-left: 15px;
}
a {
    text-decoration: none;
    color:lightyellow;
    transition-duration: .3s;
}
a:hover {
    color: #2B93CC;
}
main {
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    font-family: 'Work Sans', sans-serif;
}
header {
    padding: 50px;
    font-family: 'Space Mono', monospace;
    color: lightyellow;
    height: 95vh;
    background-image: linear-gradient(0deg,rgba(0,0,0, .5),rgba(0,0,0, .7)),url("https://user-images.githubusercontent.com/51541006/73570573-819a1a80-4464-11ea-9a2e-5d39ccb95bdf.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
h1 {
    font-size: 55px;
}
header h3 {
    font-size: 22px;
}
h2 {
    font-size: 35px;
    font-family: 'Space Mono', monospace;
    overflow: hidden;
}
h2:before,
h2:after {
    background-color: lightyellow;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h2:before {
    right: 0.5em;
    margin-left: -50%;
   }
h2:after {
    left: 0.5em;
    margin-right: -50%;
   }
section {
    padding: 30px;
    background-color: rgba(255, 79, 91, .9);
    color: lightyellow;
}
section h3 {
    text-align: left;
    padding: 25px 0px;
}
.biography {
    text-align: left;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

img {

    width: 100%;
    max-width: 1500px
}
fieldset {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 4%;
    border: 0px;
}
label {
    text-align: left;
}
input {
  font-family: 'Space Mono';
    padding: 1%;
    border-radius: 3px;
    border: none;
    background-color: rgb(255, 255, 234);
    width: 100%;
    font-size: 20px;
}

.projectScreencap {
    padding: 15px;
    border: 1px black solid;
}

.submitButton {
    margin-top: 20px;
    font-size: 24px;
    background-color: #2B93CC;
    color: lightyellow;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #2B93CC; 
    text-transform: uppercase;
    height: 50px;
    transition-duration: .2s;
}
.submitButton:hover {
    cursor: pointer;
    background-color: #2E84B3;
    color: #FFFB69;
    transform: scale(1.01)
}

.submitButton:active {
    color: #2E84B3;
    background-color: #FFFB69;
    border: 1px solid #FFFB69;
}
.contactLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.socialIcon {
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition-duration: .5s;
}

.socialIcon:hover {
    transform: scale(1.2)
}

.contactMessage {
    padding: 5px;
    height: 100px;
    width: 100%;
    border-radius: 3px;
    background-color: rgb(255, 255, 234);
    font-family: 'Space Mono';
    border: none;
}
.projectInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
}
.projectText{
    text-align: left;
    padding: 1% 3%;
    list-style-type: square;
}

button {
    width: 25%;
    padding: 10px;
    background-color: #2B93CC;
    color: lightyellow;
    font-size: 20px;
    margin-top: 20px;
    margin-left:10px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #2B93CC; 
    transition-duration: .2s;
}
button:hover {
    cursor: pointer;
    background-color: #2E84B3;
    color: #FFFB69;
    transform: scale(1.05)
}
button:active {
    color: #2E84B3;
    background-color: #FFFB69;
    border: 1px solid #FFFB69;
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 75px;
    }
    header h3 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1250px) {
    .biography {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 22px;
        line-height: 1.9;
    }
    .projectText {
        font-size: 24px;
    }
    h2 {
        font-size: 40px;
    }
    section h3 {
        font-size: 34px;
    }
}
 