* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
nav {
    background-color: rgb(126, 85, 111);
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #F9F7F6;
    text-transform: uppercase;
    height: 5vh;
    padding: 2%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: .3rem;
}
.navigation {
    text-align: center;
    width: 100%
}
.navigation > li {
  text-align: center;
  display: inline;
  font-size: 16px;
  margin: 0 2%;
}
li > a {
    text-decoration: none;
    color:#F9F7F6;
    transition-duration: .3s;
    position: relative;
}

li > a:before {
  content: '';
  position: absolute;
  width: 99%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F9F7F6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

li > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}


main {
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
header {
    padding: 50px;
    font-family: 'Alegreya SC', serif;
    color: #F9F7F6;
    height: 65vh;
    background-image: linear-gradient(0deg,rgba(0,0,0, .5),rgba(0,0,0, .7)),url("https://user-images.githubusercontent.com/51541006/73570573-819a1a80-4464-11ea-9a2e-5d39ccb95bdf.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
h1 {
    font-size: 55px;
    text-shadow: 0px 2px 4px rgba(0,0,0, .34);
}
header h3 {
    font-size: 22px;
    text-shadow: 0px 2px 4px rgba(0,0,0, .34);
}
h2 {
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    max-height: 60px;
}
h2:before,
h2:after {
    background-color: #41474E;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h2:before {
    right: 0.5em;
    margin-left: -50%;
   }
h2:after {
    left: 0.5em;
    margin-right: -50%;
   }
section {
    padding: 30px;
    background-color: #CFBDB4;
    color: #41474E;
}
section h3 {
    text-align: left;
    padding: 2% 0;
    font-weight: 800;
    font-size: 2rem;
}
.biography {
    text-align: left;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

.project-card {
  background-color: #F9F7F6;
  padding: 1%;
  margin: 4% auto;
  display: flex;
  flex-direction: column;
  width: 98%;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0,0,0, .34);
  overflow: hidden;
}


img {
  align-self: center;
  max-height: 750px;
  max-width: 750px;
  width: 100%;
  height: 100%;
}
fieldset {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 4%;
    border: 0px;
}
label {
    text-align: left;
}
input {
    font-family: 'Oswald', sans-serif;
    padding: 1%;
    border-radius: 3px;
    border: none;
    background-color: #F9F7F6;
    width: 100%;
    font-size: 20px;
}

.submitButton {
    margin-top: 20px;
    font-size: 24px;
    color: #A36D90;
    background-color: lightyellow;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 0; 
    text-transform: uppercase;
    height: 65px;
    transition-duration: .2s;
}
.submitButton:hover {
    cursor: pointer;
    transform: scale(1.01)
}


.contactLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.socialIcon {
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition-duration: .5s;
}

.socialIcon:hover {
    transform: scale(1.2)
}

.contactMessage {
    padding: 5px;
    height: 100px;
    width: 100%;
    border-radius: 3px;
    background-color: #F9F7F6;
    font-family: 'Oswald', sans-serif;
    border: none;
}
.projectInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
}
.projectText{
    text-align: left;
    padding: 1% 0;
    list-style-type: square;
    font-weight: 400;
    width:100%;
    padding-inline-start: 1.5rem;
    margin-bottom: 2%;
}

.project-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
  width: 100%;
}

.project-buttons > a {
  width: 30%;
}

.submit-form {
  align-self: center;
  width: 98%;
  margin: 0 auto;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #A36D90;
    color: lightyellow;
    font-size: 20px;
    border-radius: 3px; 
    border: 0px;
    transition-duration: .2s;
    font-family: 'Oswald', sans-serif;
}
button:hover {
    cursor: pointer;
    background-color: rgb(126, 85, 111);
    color: #FFFB69;
    transform: scale(1.03)
}
button:active {
    color: #2E84B3;
    background-color: #FFFB69;
    border: 1px solid #FFFB69;
}

.contact-section {
  background-color: rgb(126, 85, 111);
  color: lightyellow
}

.contact-section > h2:before,
.contact-section > h2:after {
    background-color: lightyellow;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 75px;
    }
    header h3 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1250px) {
    .biography {
        padding-left: 15%;
        padding-right: 15%;
        font-size: 22px;
        line-height: 1.9;
    }
    .projectText {
        font-size: 24px;
    }
    h2 {
        font-size: 40px;
    }
    section h3 {
        font-size: 34px;
    }
    .submit-form {
      width: 50%
    }
}

@media only screen and (min-width: 800px) {
  .project-card {
    width: 50%
  }
  .submit-form {
    width: 70%
  }
}
 

@media only screen and (min-width: 550) {
  .project-card {
    width: 85%;
    margin-bottom: 3%;
  }
  .navigation > li {
    font-size: 20px;
  }
  .submit-form {
    width: 80%
  }
}
 
@media only screen and (max-width: 450px) {
  button {
    font-size: 12px;
  }
  section h3 {
    font-size: 20px;
  }
  .projectText {
    font-size: 16px;
  }
}
